.ivz-index-layout {
    overflow: hidden;
    position: relative;
}
.layout-header-bar{
    z-index: 0;
    padding: 0px!important;
    height: 78px!important;
    background-color: #ffffff!important;
}
.iz-header-col {
    /*height: 48px!important;*/
    /*line-height: 48px!important;*/
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
    /*box-shadow: inset 0px -2px 6px -3px #d8d3d3;*/
}

.ivz-header-row {
    height: 44px;
    line-height: 44px;
    color: #000000;
    position: relative;
}
.ivz-header-col {
    position: absolute;
}
.ivz-header-col-right {
    right: 8px;
}
.ivz-header-col-right .ivz-opera-col {
    float: right;
}
.ivz-divider {
    width:100%;
    height: 2px;
    /*margin: 0px auto;*/
    background:-webkit-linear-gradient(to left, #ffffff, #000000, rgba(255, 5, 5, 0.83),#000000, #ffffff);
    background:linear-gradient(to left, #ffffff, #000000, rgba(255, 5, 5, 0.83),#000000, #ffffff);
}
.ivz-global-search {
    min-width: 236px;
    max-width: 280px;
    margin-right: 18px;
}
.ivz-opera-col.ivz-global-search:hover{
    background: #ffffff!important;
}
.iz-view-col,.ivz-opera-col {
    cursor: pointer;
    padding: 0px 10px;
}
.iz-view-col:hover,.ivz-opera-col:hover,.iz-view-activity {
    background: #dfdfdf14;
}
.iz-right-dropdown {
    top: 52px!important;
    margin-right: 8px;
}
.ivz-opera-more {
    margin-right: 12px;
}
.ivz-opera-more .ant-avatar {
    vertical-align: -9px;
}
.iz-menu-item-title {
    margin-left: 8px;
}
/*通知抽屉*/
#slider-drawer .ant-drawer {
    top: 46px;
}
#slider-drawer .ant-drawer-content {
    background-color: #fefefe;
}
#slider-drawer .ant-drawer-mask {
    background-color: rgba(0, 0, 0, 0.08);
}
/*任务栏样式*/
.iz-main-container {
    width: 100%;
    height: 100%;
    display: flex;
    display: -ms-flex;
    overflow: hidden;
    flex-direction: column;
    display: -webkit-flex; /* Safari */
    justify-content: flex-start;
}
/*任务栏*/
.ivz-task-bar {
    z-index: 0;
    height: 32px;
    margin-top: 3px;
    padding: 0px 5px;
    position: relative;
}
.ivz-task-bar .ant-tabs-tab-active {
    border-top: 0.1em solid #343434!important;
}
.ivz-task-bar .ant-tabs-tab-active>div {
    height: 30px;
    line-height: 30px;
}
.ivz-task-opera {
    width: 20px;
    position: absolute;
    top: 0px;
    left: 24px;
    cursor: pointer;
    height: 32px;
    line-height: 35px;
    text-align: center;
    display: inline-block;
}
.ant-tabs {
    width: 100%;
}
.ant-tabs-bar {
    border-radius: 16px;
    height: 32px!important;
    border: 0px!important;
    background: rgba(225,225,225,0.08);
}
.ant-tabs-nav-container,iz-task-more-opera {
    line-height: 32px;
    height: 32px!important;
}
.ant-tabs-nav-container .ant-tabs-nav-wrap {
    margin-top: 0px;
    padding-left: 52px;
}
.ant-tabs-tab-prev,.ant-tabs-tab-next {
    height: 100%;
    width: 22px!important;
    padding-bottom: 2px;
    opacity: 1!important;
    color: #17233d!important;
    pointer-events: auto!important;
}
:root .ant-tabs-tab-prev-icon-target, :root .ant-tabs-tab-next-icon-target {
    font-size: 14px;
}
.ant-tabs-tab {
    color: #212121;
    height: 32px!important;
    padding: 0px 10px!important;
    border: 0px solid!important;
    border-right: 1px solid #ffffff;
    border-radius: 0px!important;
    transform: skewX(-28deg);
    line-height: 33px!important;
}
.ant-tabs-tab .anticon-close {
    display: none;
}
.ant-tabs-tab:hover .anticon-close{
    display: inline;
}
.ant-tabs-tab>div{
    transform: skewX(28deg);
}
.ant-tabs-nav .ant-tabs-tab .anticon {
    margin-right: 0px!important;
}
.ant-tabs.ant-tabs-card .ant-tabs-card-bar .ant-tabs-tab-active {
    padding-bottom: 0px;
    background: #ffffff!important;
}
.ant-tabs-bar.ant-tabs-top-bar.ant-tabs-small-bar.ant-tabs-card-bar {
    margin-left: 0px;
    margin-bottom: 0px;
}
.ivz-content-iframe {
    z-index: 0;
    width: 100%;
    flex-grow: 1;
    height: 100%;
    border-radius: 8px;
    border: 2px solid #ffffff;
    border-bottom: 0px solid #ffffff;
    background-color: rgba(243, 243, 243, 0.93);
}
.ivz-avatar {
    height: 148px;
    padding: 24px 0px;
    /*background-color: #fdfdfd;*/
    /*box-shadow: 0px -1px 6px 0px rgba(233, 233, 233, 0.67);*/
}
.ivz-theme-dark .ivz-avatar{
    background-color: #001529;
}
.ivz-theme-dark .ivz-avatar .ivz-avatar-name{
    color: #ffffff;
}
.ivz-theme-dark .ivz-avatar .ant-avatar {
    background-color: #ffffff;
}
.ivz-avatar-center {
    width: 64px;
    height: 64px;
    margin: 4px auto;
    cursor: pointer;
    border-radius: 50%;
    box-shadow: 0px 0px 6px 0px #888585;
}
.ivz-avatar, .ivz-avatar-center, .ivz-avatar-name {
    transition: width 0.5s, height 0.3s;
    -moz-transition: width 0.5s, height 0.3s; /* Firefox 4 */
    -webkit-transition: width 0.5s, height 0.3s; /* Safari and Chrome */
    -o-transition: width 0.5s, height 0.3s; /* Opera */
}
.ivz-avatar-name {
    text-align: center;
    font-size: 15px;
    white-space:nowrap;
    overflow: hidden;
    margin-top: 8px;
}
/*侧边栏*/
.ant-layout-sider {
    background: rgb(255, 255, 255) !important;
}
.ant-layout-sider-collapsed .ivz-avatar {
    height: 82px;
    padding: 14px 0px;
}
.ant-layout-sider-collapsed .ant-menu {
    height: calc(100% - 82px);
}
.ant-layout-sider-collapsed .ivz-avatar-name {
    width: 0px;
}
.ant-layout-sider-collapsed .ant-avatar {
    width: 48px!important;
    height: 48px!important;
    line-height: 48px!important;
}
.ant-layout-sider-collapsed .ivz-avatar-center {
    width: 48px;
    height: 48px;
}
.ant-layout-sider-collapsed .ant-menu-inline-collapsed {
    width: 72px!important;
}
.ant-layout-sider-collapsed .anticon {
    transform: scale(1.1);
}
.ivz-sider-menu {
    width: 100%;
    z-index: 2;
    height: 100%;
    overflow: hidden;
    position: absolute;
    /*background: rgba(237, 237, 237, 0.82);*/
}
/*侧边菜单栏样式*/
.ant-menu {
    height: calc(100% - 148px);
    /*background: rgba(254, 254, 254, 0)!important;*/
}
.ant-menu-inline, .ant-menu-vertical, .ant-menu-vertical-left {
    border-right: 0px!important;
}
.ant-menu-item .anticon, .ant-menu-submenu-title .anticon {
    margin-right: 3px!important;
}
.ant-menu-inline .ant-menu-item, .ant-menu-inline .ant-menu-submenu-title {
    width: calc(100%)!important;
}
.ant-menu-inline-collapsed > .ant-menu-submenu > .ant-menu-submenu-title {
    padding: 0px 27px!important;
}
.ant-menu.ant-menu-root {
    overflow-y: auto;
    overflow-x: hidden;
}
.ant-menu-light .ant-menu-submenu {
    color: #353739;
}
.ant-menu-light .ant-menu-submenu .ant-menu-submenu-title:hover {
    background: rgba(5, 130, 255, 0.04);
}
.ant-menu-light .ant-menu-submenu .ant-menu-sub {
    background: rgb(252, 252, 252) !important;
}
.ant-menu-inline .ant-menu-submenu-title {
    font-size: 16px!important;
}
.ant-tooltip-inner {
    padding: 2px 10px;
    min-height: 22px;
    font-size: 12px;
}

/*动画*/
.list-enter-active, .list-leave-active {
    transition: all 0.3s;
}
.list-enter, .list-leave-to {
    opacity: 0;
    transform: translateY(30px);
}
