<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BasicView测试页面</title>
    <!-- 全局引入TinyMCE -->
    <script src="https://cloud.tinymce.com/5/tinymce.min.js"></script>
</head>
<body>
    <div id="app">
        <ivz-basic-view :metas="metas" :search-metas="searchMetas" :config="groupConfig" ref="ibv">
            <template #name_t="params">
                <a-tag color="green">{{params.value}}</a-tag>
            </template>
            <template #mark_sale_f="params">
                <span>{{params.meta['field']}}</span>
            </template>
            <template #name_d>detailName</template>
        </ivz-basic-view>
        <ivz-modal-form ref="mf" :metas="ModalMetas" :save-meta="saveMeta" title="测试模态框">
            <template #test_f>
                <span>slot 测试</span>
            </template>
        </ivz-modal-form>
    </div>
</body>
</html>
