<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BasicView测试页面</title>
</head>
<body>
    <div id="app">
        <ivz-basic-view :metas="groupMetas" :search-metas="searchMetas" :config="groupConfig" ref="ibv">
            <template #name_t="params">
                <a-tag color="green">{{params.value}}</a-tag>
            </template>
            <template #area_t="params"><span>lkj</span></template>
            <template #mark_sale_f="params">
                <span>{{params.meta['field']}}</span>
            </template>
            <template #name_d>detailName</template>
        </ivz-basic-view>
        <ivz-modal-form ref="mf" :metas="ModalMetas" :save-meta="saveMeta"
                        title="测试模态框"></ivz-modal-form>
    </div>
</body>
</html>
