<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>自定义页面</title>
</head>
<body>
    <div id="app">
        <ivz-diy-view :metas="mates" :action-metas="actionMetas"
             :search-metas="searchMetas" :config="config" :data="data">
            <template #search="{metas, config}">
                {{metas}}
            </template>
<!--            <template #table="{data}">-->
<!--                {{data}}-->
<!--            </template>-->
        </ivz-diy-view>
    </div>
</body>
</html>
