<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BasicView测试页面</title>
    <script src="https://cloud.tinymce.com/5/tinymce.min.js"></script>
</head>
<body>
    <div id="app">
        <ivz-drawer-view :metas="groupMetas" :search-metas="searchMetas" :config="config">
            <template #name_t="params">
                <a-tag color="green">{{params.value}}</a-tag>
            </template>
            <template #mark_sale_f="params">
                <span>{{params.meta['field']}}</span>
            </template>
            <template #name_d>detailName</template>
            <template #detail="params">
                <span>{{params.model}}</span>
            </template>
        </ivz-drawer-view>
    </div>
</body>
</html>
