<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>EditView测试页面</title>
</head>
<body>
    <div id="app">
        <ivz-edit-view :metas="mates" :search-metas="searchMetas" :config="editConfig">
            <template #name_t="{value}">
                {{value}}
            </template>
        </ivz-edit-view>
        <ivz-drawer-edit-table :action-metas="editActionMetas" :metas="mates" ref="det"
               :config="editConfig" :data="data" :height="330"></ivz-drawer-edit-table>
    </div>
</body>
</html>
