.iz-login-bg {
    width: 100%;
    height: 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
.iz-login-card {
    top: 16%;
    right: 182px;
    width: 360px;
    position: fixed;
    background-color: rgba(255, 255, 255, 0.46);
}
.iz-login .ant-input {
    padding-left: 34px!important;
}
.iz-login .ant-input.ant-input-lg {
    border-radius: 20px;
}
.iz-login .ivz-form-valid {
    width: 178px;
}
.iz-login .ivz-valid-img {
    height: 40px;
    width: 118px;
    margin-left: 16px;
    vertical-align: top;
}
.ant-card-body {
    padding: 12px 24px;
}
.ant-card-head {
    line-height: 48px;
}
.ant-card-head-title {
    padding: 0px;
    text-align: center;
}
.iz-login-tip {
    text-align: center;
}
.iz-login-tip-error {
    color: #ed4014;
}
.iz-login-tip-success {
    color: #19be6b;
}
